//ARCHS = $(ARCHS_STANDARD_32_64_BIT); // {{modified-by-hmr}}
ARCHS = $(ARCHS_STANDARD); // {{modified-by-hmr}}
CODE_SIGN_IDENTITY = -;
CURRENT_PROJECT_VERSION = $(RC_ProjectSourceVersion);
DEAD_CODE_STRIPPING = YES;
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym;
PREBINDING = NO;
// Current Mac OS
//SDKROOT = macosx.internal; // {{modified-by-hmr}}
SDKROOT = macosx; // {{modified-by-hmr}}
//USE_HEADERMAP = NO;
VERSION_INFO_PREFIX = __attribute__((visibility("hidden"))) __
VERSIONING_SYSTEM = apple-generic;
